<div class="bns-block-panel bns-footer" id="bns-contact">
  <div class="row" style="background-color: grey; color: black;">
    <div class="col-2" style="margin: 5%">
      <div style="margin-bottom: 3%; font-weight: bold;">Links</div>
      <div><a style="cursor: pointer; color: blue;">Home</a></div>
      <div><a style="cursor: pointer; color: blue;">About</a></div>
      <div><a style="cursor: pointer; color: blue;">Menu</a></div>
      <div><a style="cursor: pointer; color: blue;">Contacts</a></div>
    </div>
    <div class="col-3" style="margin: 5%">
      <div style="margin-bottom: 3%;  font-weight: bold;">Our Address</div>
      <div>214, King Street West</div>
      <div>Downtown, Toronto</div>
      <div>ONTARIO</div>
      <div>Tel.: +416 1234 5678</div>
      <div>Fax: +416 8765 4321</div>
      <div>Email: <a href="mailto: ilfornello@food.net">ilfornello@food.net</a></div>
    </div>
    <div class="col-3" style="margin: 5%">
      <a href="#"><i class="fa fa-google-plus-square fa-2x" style="color: darkred; margin: 1%;"></i></a>
      <a href="#"><i class="fa fa-facebook-square fa-2x" style="color: blue; margin: 1%;"></i></a>
      <a href="#"><i class="fa fa-linkedin-square fa-2x"  style="color: lightblue; margin: 1%;"></i></a>
      <a href="#"><i class="fa fa-twitter-square fa-2x" style="color: red; margin: 1%;"></i></a>
      <a href="mailto: ilfornello@food.net"><i class="fa fa-envelope-square fa-2x" style="color: lightcyan; margin: 1%;"></i></a>
    </div>
    <footer class="footer offset-5" style="margin-bottom: 1%;">
      <div class="container">
        <span style="color: black;">&copy; Copyright 2015 Ristorante Il Fornello</span>
      </div>
    </footer>
  </div>
</div>
