.bns-info-panel {
  background-color: #9370DB;
  color: white;

  .bns-business-name {
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 2em;
  }

  .bns-info {
    margin-left: 5%;
    padding-bottom: 5%;
    max-width: 555px;
  }
}
