<div class="bns-block-panel" *ngIf="svc.menus | async as menus">
  <div class="bns-menu-title">
    <i class="fa fa-bars" style="margin-right: 5px;"></i>Our Menu</div>
  <div *ngFor="let cat of menus">
    <div class="bns-block-title bns-menu-cat-title" [id]="cat.category.split(' ')[0]">{{cat.category}}</div>
    <div class="bns-menu-cat-info">{{cat.info}}</div>
    <div class="card-group">
      <div *ngFor="let item of cat.items" class="card">
        <img class="card-img-top" height="200" src="assets/images/{{item.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.info}}</p>
          <a class="btn btn-primary bns-menu-price">Price: ${{item.price}}</a>
        </div>
      </div>
    </div>
    <div class="bns-block-bottom-border"></div>
  </div>
</div>
